-e git+https://github.com/carrierx/carrierx-python@4d16d4eb105f6b49b9876f8c6bb778d83be1fca3#egg=carrierx
certifi==2018.4.16
chardet==3.0.4
click==6.7
Flask==1.0.1
idna==2.6
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
requests==2.18.4
urllib3==1.22
Werkzeug==0.14.1
uWSGI==2.0.17
Flask-Cors==3.0.4
six==1.11.0
